body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.person {
  margin-top: 5vh;
  box-shadow: 10px 10px 10px -4px #000000;
  margin: 5vh 20vh;
  display: flex;
  justify-content: center;
  padding: 5vw;
}

.bold {
  font-weight: bolder;
}
.green {
  color: #00b894;
}

* {
  text-align: center;
}